In [4]:
import pandas as pd

In [5]:
import pandas as pd

In [6]:
import  numpy as np

In [7]:
df=pd.read_csv("nba.csv")#taken file on the df

In [8]:
df["Height"]

0       2-Jun
1       6-Jun
2       5-Jun
3       5-Jun
4      10-Jun
        ...
452    10-Jun
453     3-Jun
454     1-Jun
455     3-Jul
456    Jul-00
Name: Height, Length: 457, dtype: object

In [9]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26,Jul-00,231,Kansas,947276.0

In [10]:
df.drop([3])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27,5-Jun,205,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29,10-Jun,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29,9-Jun,240,NaN,12000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26,Jul-00,231,Kansas,947276.0

In [11]:
df.reset_index(drop=True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26,Jul-00,231,Kansas,947276.0

In [12]:
df.Name.dtype

dtype('O')

In [13]:
df.Team.dtype

dtype('O')

In [14]:
df.Number.dtype

dtype('float64')

In [15]:
u=set(df)

In [16]:
uc=len(u)

In [17]:
uc#unique values

9

In [18]:
df=df.astype({'Number':'float'})

In [19]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [20]:
df=df.astype({'Number':'float'})

In [21]:
df['Salary'] = pd.to_numeric(df['Salary'])

In [22]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [23]:
pd.isnull

In [24]:
de=pd.DataFrame(df)

In [25]:
de.isnull

<bound method DataFrame.isnull of               Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG   25   2-Jun     180
1      Jae Crowder  Boston Celtics    99.0       SF   25   6-Jun     235
2     John Holland  Boston Celtics    30.0       SG   27   5-Jun     205
3      R.J. Hunter  Boston Celtics    28.0       SG   22   5-Jun     185
4    Jonas Jerebko  Boston Celtics     8.0       PF   29  10-Jun     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz    41.0       PF   20  10-Jun     234
453   Shelvin Mack       Utah Jazz     8.0       PG   26   3-Jun     203
454      Raul Neto       Utah Jazz    25.0       PG   24   1-Jun     179
455   Tibor Pleiss       Utah Jazz    21.0        C   26   3-Jul     256
456    Jeff Withey       Utah Jazz    24.0        C   26  Jul-00     231

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
452           Kentucky  2239800.0
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0

[457 rows x 9 columns]>

In [26]:
de.fillna(333)#null value get the  fiilee with 3333

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27,5-Jun,205,Boston University,333.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29,10-Jun,231,333,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24,1-Jun,179,333,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26,3-Jul,256,333,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26,Jul-00,231,Kansas,947276.0

In [29]:
import tensorflow as tf
from tensorflow.keras 
import datasets ,layers ,models
import numpy as np
import matplotlib .yplot as plt

SyntaxError: invalid syntax (3944437555.py, line 2)

In [30]:
(X_train,y_train),(X_test,y_test)=datasets.cifar10.load_data()

NameError: name 'datasets' is not defined

In [31]:
X_test.shape

NameError: name 'X_test' is not defined

In [32]:
X_train.shape

NameError: name 'X_train' is not defined

In [33]:
y_train.shape

NameError: name 'y_train' is not defined

In [34]:
Y_train[:5}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (565073150.py, line 1)

In [35]:
Y_train=Y_train.reshape(-1,)
Y_train[:5]

NameError: name 'Y_train' is not defined

In [36]:
classes={'airplane','automobile','bird'}

In [37]:
def plot_sample(X,y,index):
    plt.figure(figsize=(15,2))
    plt.imshow(X[index])
    plt.xlabel(Classes[y[index]])

In [38]:
plot_sample(X_train,y_train,1

SyntaxError: incomplete input (1687748685.py, line 1)