In [52]:
import pandas as pd #Data Preprocessing

In [53]:
import numpy as np

In [54]:
dataset=pd.read_csv('Demo.csv')
#m import 
#read
#then the take indepen on x and dependen on  y 
#m then the filll null value use the simpleimpulter then
#m the convert the value to the  Labelencoder 1 and the 0 then the 
#m then the traim and test 
#m then the Standard Scaler m

In [55]:
dataset

  Country   Age   Salary  Purchase
0   france  44.0    565.0      Yes
1    spain  34.0    545.0       No
2    italy   NaN      NaN      Yes
3    spain  23.0    345.0       No
4   france  45.0     68.0      Yes
5    italy  66.0     76.0      Yes

In [56]:
#Here the purchase is the dependent vriable so and indepen remain

In [57]:
dataset.columns#m the values in column mto remove whitspace

Index(['Country ', 'Age ', 'Salary ', 'Purchase'], dtype='object')

In [58]:
dataset.columns = dataset.columns.str.strip()#mto remove whitspace

In [59]:
x=dataset[["Country","Age","Salary"]].values # the value multiple  taken on xhereconvert to the array after it then

In [60]:
x

array([['france', 44.0, 565.0],
       ['spain', 34.0, 545.0],
       ['italy', nan, nan],
       ['spain', 23.0, 345.0],
       ['france', 45.0, 68.0],
       ['italy', 66.0, 76.0]], dtype=object)

In [61]:
y=dataset["Purchase"].values # convert to the array after it then

In [62]:
y

array(['Yes', 'No', 'Yes', 'No', 'Yes', 'Yes'], dtype=object)

In [63]:
#the find x and y mean dependent and independent

In [64]:
#shift and tab to see property
#import sklearn.impute

In [65]:
from sklearn.impute import SimpleImputer
#import sklearn.impute not dropm goood way

In [71]:
imputer=SimpleImputer(missing_values=np.nan,
    strategy='mean')#filling missing value with the mean

In [72]:
x=imputer.fit_transform(x[:,1:3])#contain all row and 1 t 3 column  here fit fit in dataset for estimate

In [73]:
#x[:,1:3]=imputer.tranform(x[:,1:3])#it says from  mean replmhe x values

In [74]:
x#the here fill with meanvalue

array([[ 44. , 565. ],
       [ 34. , 545. ],
       [ 42.4, 319.8],
       [ 23. , 345. ],
       [ 45. ,  68. ],
       [ 66. ,  76. ]])

In [19]:
#encoding the cateogrical data in 
#Means convert to the 1 and 0 format that is the yes and no to

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
Label_encoder_x=LabelEncoder()#creation fot of obje

In [22]:
#m m mdataset["country"].replace({'italy':'1','france':'2','germanm':'3'},inplace=True)

In [23]:
x[:,0]=Label_encoder_x.fit_transform(x[:,0])

In [24]:
x[:,0]

array([0, 2, 1, 2, 0, 1], dtype=object)

In [25]:
x#means france 1 italy 3 ban2 germany 3

array([[0, 44.0, 565.0],
       [2, 34.0, 545.0],
       [1, nan, nan],
       [2, 23.0, 345.0],
       [0, 45.0, 68.0],
       [1, 66.0, 76.0]], dtype=object)

In [26]:
from sklearn.preprocessing import OneHotEncoder #dummy encoding becom the here are values in numeric so to in

In [27]:
onehotencoder=OneHotEncoder()#obje

In [28]:
x=onehotencoder.fit_transform(dataset.Country.values.reshape(-1,1)).toarray()

In [29]:
x

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [30]:
label_encoder_y=LabelEncoder()#Then th edo  1 and 0 for the y

In [31]:
y=label_encoder_y.fit_transform(y)

In [32]:
y

array([1, 0, 1, 0, 1, 1])

In [33]:
from sklearn.model_selection import train_test_split#m then split  means test and train

In [34]:
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=0) #m the 0.2 mea 20 percen test and remain 80 3 to train for same result random 0mmm

In [35]:
x_train

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [36]:
y_test

array([1, 1])

In [37]:
y_train

array([[0., 1., 0.],
       [0., 1., 0.]])

In [38]:
x_test
#preprocess,traintestthen,linear,multipleregression

array([0, 0, 1, 1])

In [39]:
reshape=np.array([x_test]).reshape(-1,1)

In [40]:
 from  sklearn.preprocessing import StandardScaler  #m feature scalingm datae to be same scale

In [41]:
sc_x=StandardScaler()#m create obje

In [42]:
x_train=sc_x.fit_transform(reshape)

In [43]:
x_test=sc_x.transform(reshape)

In [44]:
x_train#m ataset read to fit algoritm here m

array([[-1.],
       [-1.],
       [ 1.],
       [ 1.]])

In [45]:
x_test

array([[-1.],
       [-1.],
       [ 1.],
       [ 1.]])