In [1]:
import pandas as pd

C:\Users\COMP\AppData\Local\Temp\ipykernel_17756\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import numpy as np

In [6]:
df=pd.read_csv("mtrain.csv");#m train and t testm

In [7]:
df

   age   premium
0    25    18000
1    30    32000
2    35    40000
3    40    47000
4    45    56000

In [11]:
#scatter independent and dependent variable
#x on th y
#x=df["age"]
#m the single variable mean age in it so
df.columns = df.columns.str.strip()

In [12]:
x=df["age"]

In [13]:
y=df["premium"]

In [14]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [15]:
y

0    18000
1    32000
2    40000
3    47000
4    56000
Name: premium, dtype: int64

In [16]:
#then the splitm
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)#0.3 means 30 prc train and reamin tet the m

In [19]:
x_train

1    30
0    25
3    40
4    45
Name: age, dtype: int64

In [20]:
y_test

2    40000
Name: premium, dtype: int64

In [22]:
len(x_train) #this fit in the algorithm

4