In [2]:
import pandas as pd
import numpy as np

C:\Users\COMP\AppData\Local\Temp\ipykernel_10756\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
df=pd.read_csv("nba.csv")

In [13]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26,Jul-00,231,Kansas,947276.0